<h1> Please enter the information for the new applicant below </h1>

<form action="/applicants" method="POST">

<label for="name">Name:</label>
<input type="text" name="name">

<label for="resume">Resume:</label>
<input type="textarea" name="resume">
<br>
<br>
<input type="submit" value="Submit">
</form>