<h1> Please enter the information for the new applicant below </h1>

<form action="/interviewers" method="POST">

<label for="name">Name:</label>
<input type="text" name="name">

<label for="resume">Title:</label>
<input type="text" name="title">
<br>
<br>
<input type="submit" value="Submit">
</form>
<br>
<a href='/'>Return Home</a>